body {
    width: 1000px;
    margin:auto; 
    border: 1px solid black;
}

.header {
    text-align: center;
    border-bottom: 1px solid black;
}

/* .header-title {

} */

/* .main {
    
} */

.main-title {
    text-align: center;
}

.main-list {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

.main-list td, .main-list th {
    border: 1px solid #ddd;
    padding: 8px;
}

.main-list tr:nth-child(even){background-color: #f2f2f2;}

.main-list tr:hover {background-color: #ddd;}

.main-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #92d4bc;
}

footer {
    text-align: center;
    border-top: 1px solid black;
    color: grey;
    font-size: 10px;
    padding: 5px;
}

@media only screen and ( max-width: 320px ) {
    body {
      
    }
}